@import './base.scss';

.groups-index-main-div {
    display: flex;
}

.temp-sidebar-template {
    min-width: 200px;
    height: 100vh;
    background: $purple-2;
}

.main-content-nav-bar-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    width: 100%;
}

.groups-index-popular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


