.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-form-container h1:first-of-type, 
.group-form-container > h1:first-of-type,
.movie-form-container h1:first-of-type,
.movie-display-form-container > h1{
  font-size: 40px;
  text-decoration: 2px underline $golden;
  text-underline-offset: 4px;
}

.review-form-container, 
.group-form-container,
.movie-form-container, 
.movie-display-form-container{
  display: flex; 
  flex-direction: column;
  height: 400px; 
  width: 550px; 
  background-color: $purple-3;
  border-radius: 10px;
  padding: 15px;
  animation: popup .5s 1 ease-in-out;
}

.review-form, 
.group-form,
.movie-form{
  display:flex; 
  flex-direction: column;
  align-items: flex-start;
  background-color: $purple-4;
  border-radius: 10px;
  height: 310px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes popup {
  from{
    transform: scale(.5);
    opacity: 50%;
  }
  to{
    transform: scale(1);
    opacity:100%;
  }
}

.review-form button:hover, 
.group-form button:hover,
.movie-form button:hover{
  text-decoration: 2px underline $golden;
  text-underline-offset: 2px;
}

.review-form button, 
.group-form button,
.movie-form button{
  margin: 10px;
  margin-top:0px;
}

.hide{
  display:none;
}

// ^^vv These two always need to be in this order! do not move!

.display-errors{
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 15px !important;
  padding:10px;
  padding-top:0px;
  padding-left:25px;
  color:red;
}

