@import "./base.scss";

.modal-button {
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  bottom: 8%; 
  right: 4%;
  height: 60px; 
  width: 60px; 
  background-color: $golden;
  border-radius: 100%;
}

.modal-button img{
  height: 40px; 
  width:40px;
}
