.no-movie-content{
    display: flex; 
    justify-content: center;

    div{
        width:500px;
        margin-top: 50px;
        padding: 20px;
        border-radius:10px;
        background-color: $purple-3;
    }
    h1{
        font-size: 150px;
    }

    p{
        font-size: 25px;
        padding-bottom: 15px;
    }

    button{
        height: 35px; 
        width: 100px;
        border-radius:10px;
        justify-content: center;
        text-align: center; 
        background-color: $purple-5;
    }
}