@import "./base.scss";

.review-parent-div{
    max-width: 1000px;
    // height: 100px;
    height: 100%;
    width: 97%;
    margin-bottom: 20px;
    // background-color: $purple-4;
}


.review-avatar-border{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $purple-5;
    margin-left: 10px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 70px;
        width: auto;
    }
}

.review-content-flex{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.review-content{
    align-self: flex-start;
 
    width: 70%;
    // height: 150px;



    hr{
        color: $golden;
        width: 25%;
        margin-left: 18px;
    }
    p{
        width: 650px;
        // height: 70px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 5px;

    }
    .review-show-more-button{
        cursor: pointer;
        color: $golden;
        margin-left: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
}

.review-content-top{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    width: fit-content;
    border-bottom: 2px solid $golden;
    
    

    h1{
        font-size: 22px;
        &:first-child{
            margin-right: 15px;

        }
    }
}

.review-content-show-more{
    display: block;
}

.review-content-show-less{
    display: none;
}

#review-bottom-hr{
    margin-top: 10px;
    width: 93%;
    border-top: 2px solid $golden;
}

.review-bottom-buttons{
    display: flex;
    align-items: center;

    span{
        margin-right: 10px;
    }

    

}

.review-bottom-button-hide{
    display: none;
}

.review-bottom-button-current-user{
    display: flex;
    h5{
        cursor: pointer;
        color: $golden;
        
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-align: end;


    }

    h6{
        color: $golden;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 12px;
        text-align: end;
        margin-left: 5px;
        margin-right: 5px;

    }

}

#review-content-body{
    p{
        margin-top: 10px;
    }
}