@import './base.scss';

.signup-background{
  background-image: url(../splash-image.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.signup-intro {
    position: relative;
    top: 15%;
    height: 300px;
    width: 450px;
}

.signup-intro > h1 {
  text-align: center;
  font-size: 90px;
  padding:-10px; 
  margin: 0px;
}

#goldline{
  height:3px; 
  width: 410px;
  background-color: $golden;
  padding:0;
  margin:0;
  margin-top:-20px;
  margin-left: 20px;
  margin-bottom:20px;
}

.signup-intro > p {
  font-size: 20px;
  margin-left:30px;
}


.signup-form {
  position: relative;
  background-color: $purple-1;
  padding: 30px;
  top: 8%;
  height: 550px;
  width: 450px;
  align-items: right;
  border-radius:10px;
  box-shadow: 0px 0px 50px $purple-1;
}

.signup-login{
  h1:first-child {
    font-size: 50px;
    width: 110px;
    border-bottom: 2px solid $golden;
  }
}

#loginButtonSignup {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    color: $white; 
  }

.signup-input {
  display: flex;
  flex-direction: column;
  background-color: $purple-3;
  padding: 10px;
  margin-top:20px;
  height: 370px;
  border-radius: 10px;
}

.signup-username, .signup-password{
  padding: 15px;
}

.signup-input label {
    font-family: 'Bebas Neue', cursive;
    color: $white;
    font-size: 25px;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px $purple-3 inset !important;
        -webkit-text-fill-color: $white !important;
    }
  }

.border-bottom-light {
  outline: none;
  margin-left: 30px;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif; 
  font-weight:400;
}

.signup-avatar-container > h1{
  margin-top:10px;
  padding-left: 15px; 
  text-align: left;
  font-size: 25px;
}

.signup-avatar-container > div{
  display:flex;
  width: 250px;
  height:140px;
  margin: 10px;
  margin-left: 65px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}




#select-avatar{
  font-size: 25px;
}

.checkbox-background{
  height:55px;
  width: 55px;
  background-color: $purple-5;
  border-radius: 100%;
}

input[type=checkbox]{
  display:none;
}

label:before {
  position: absolute;
}

.avatar-image{
  height:55px;
  width: 55px; 
  padding: 11px;
}

.selected{
  height: 55px;
  width: 55px;
  border: 3px solid $golden;
  border-radius: 100%;
}

.selected > .avatar-image{
  height:55px;
  width: 55px; 
  margin-top:-3px;
  margin-left: -3px;
}

.signup-buttons {
  display: flex;
  flex-direction: row;
  padding-bottom:0px;
  justify-content: center;
  column-gap: 50px;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}    

.signup-buttons input:hover{
  border-bottom: 2px solid $golden;
  margin-bottom:-2px;
}

.signup-buttons a:hover{
  border-bottom: 2px solid $golden;
}
