@import "./base.scss";

.similar-movie-div{
        cursor: pointer;

    h1{
        font-size: 18px;
        // color: $golden;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px;
        
    }
}

.similar-movie-img{
    height: 170px;
    width: 120px;
    box-shadow: 0 5px 10px 3px $purple-1;
    

}